@model IEnumerable<GradProj.Models.ApplicationRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}


<div class="container">
    <div class="text-center mt-4 mb-3" style="background-color:lightgray">
        <h2 class="lead p-3">Roles Table</h2>
    </div>
    <p>
        <a asp-action="Create" class="btn btn-outline-primary  mb-4">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="text-success mr-3" title="Edit"><i class="fa fa-edit fa-2x"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-3"><i class="fa fa-remove fa-2x" title="Remove"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

