@model GradProj.Models.SiteModels.Festival

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="container">
    <div class="mt-5 mb-2">
        <h4>Festival</h4>
        <hr />
        <div class="row">
            <div class="col-6">
                <strong>@Html.DisplayNameFor(i => i.Name): </strong>
                @Html.DisplayFor(i => i.Name)
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-6">
                <strong>@Html.DisplayNameFor(i => i.Details): </strong>
                @Html.DisplayFor(i => i.Details)
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-6">
                <strong>@Html.DisplayNameFor(i => i.City): </strong>
                @Html.DisplayFor(i => i.City.Name)
            </div>
        </div>
        <div>
            <div class="row mt-5 mb-4">
                <div class="col-4"></div>
                <div class="col-8">
                    @if (Model.ImgUrl != null)
                    {
                        <img src="~/uploads/festival/@Model.ImgUrl" class="img-thumbnail" style="width:300px" />
                    }
                </div>
            </div>
        </div>

    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-success">Edit</a> |
        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    </div>
</div>
